 
.ogin_container{
  display: flex;
  flex-direction: row;  
    height: 100vh;
    width: 100%;
}
.login-left {
  width: 50%;
  height: 100vh;
  background-color: #ffd155;
  background-repeat: no-repeat;
  background-image: url("../..//images/kenny-eliason-zFSo6bnZJTw-unsplash.jpg");
  background-size: cover;
  float: left;
  opacity: 1;
  position: fixed;
}

.login-left1 {
  width: 50%;
  height: 100vh;
  background-color: #ffd155;
  background-size: cover;
  opacity: 0.3;
  position: fixed;
}
.login-right{
    background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100vh;
  position: fixed;
  float: right;
  margin-left: 50%;

}
.login-right div {
  top: 124px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: black;
  float: right;
  position: absolute;
  margin-left: 20%;
 padding: 2rem; 
}
.login-right div input {
  width: 456px;
  height: 43px;
  background-color: white;
  border: 1px solid #A2A2A6;
  border-radius: 4px;
  color: black;
  padding: 0rem 0rem 0rem 1rem;
  display: flex;
}
.logo {
    max-width: 264px; 
    position: absolute;
}
.login-right .logo{
  float: right;
  margin-left: 50%;
  margin-top: -5%;
}