.container {
  display: flex;
  max-height: 100vh;
  position: relative;
}

.corpoM {
  top: 0;
  width: 400px;
  height: 100vh;
  background-color: #7E7E7E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.middle {
  display: flex;
  flex-direction: row;
}
.title {
  padding: 2rem;
}

.title h1 {
  color: #f2f2f2;
}

.corpoM ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.corpoM ul li {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  
}

a{
  text-decoration: none;  
  color: #FFC423;
  font-weight: 700;
}


 .last-item {
  width: 100%; 
  margin-left: -8%;
  margin-top: 56%;
  align-items: center;
  justify-content: space-between;
  
}

.container .corpoM .user-control {
  width: 100%;
  height: 100%;
  background-color: #FFDC7D;
  color: black;
}
.user-control{
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}